#{extends 'main.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
<div class="container"> 
    <div class="row">
        <div class="span12">

            <ul class="breadcrumb">
                <li><a href="http://env-4792205.jelastic.websolute.net.br/estaciones/">Inicio</a></li>
                <li><a href="http://env-4792205.jelastic.websolute.net.br/estaciones/estaciones/list">Estaciones</a></li>
                <li class="active">Actualizar Estacion</li>
            </ul>

            <div id="crudShow" class="${type.name}">

                <h2 id="crudShowTitle">Estacion</h2>

                <div class="objectForm">
                	
                #{if flash.success}
			    <div class="alert alert-success">
			        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			        <strong>¡Exito!</strong>${flash.success}
			    </div>
			    #{/if}
			    #{if flash.error || error}
			    <div class="alert alert-danger">
			        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			        <strong>¡Error!</strong> ${error ?: flash.error}
			    </div>
			    #{/if}
                
                #{form action:@save(object._key()), enctype:'multipart/form-data'}
                    #{crud.form /}
                    <p class="crudButtons">
                        <input type="submit" class="btn btn-primary" name="_save" value="&{'crud.save', type.modelName}" />
                        <input type="submit" class="btn btn-primary" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
                    </p>
                #{/form}
                </div>

                #{form @delete(object._key())}
                    <p class="crudDelete">
                        <input type="submit" class="btn btn-primary" value="&{'crud.delete', type.modelName}" />
                    </p>
                #{/form}

            </div>
            
        </div>
    </div>
</div>