#{extends 'main.html' /}
#{set title:'Inicio' /}

<div class="container">
    <section class="row">
        <div class="span12">
            <h3>Servicios</h3>
            <table class="table table-bordered table-striped table-hover">
            	<tr>
            		<th>Nombre</th>
            		<th>Url</th>
            	</tr>
            	<tr>
            		<td>Lista de Estaciones</td>
            		<td>http://localhost:9000/Estaciones/listaDeEstaciones</td>
            	</tr>
            </table>
        </div>            
    </section>
</div>   