#{extends 'main.html' /}
#{set title:'Sube Al Metro' /}

<div class="container">
    <section class="row">
    	<div class="col-md-12">
    		<h3>Administración</h3>
    		<hr/>
    		<div class="col-md-2">
    			<a href="usuarios/list">		    	
		    		<img src="@{'/public/img/usuarios.png'}" />	    	
		    	</a><br/><br/>
    			<strong>Usuarios</strong>
    		</div>
    		<div class="col-md-2">
    			<a href="estaciones/list">		    	
		    		<img src="@{'/public/img/estaciones.png'}" />	    	
		    	</a><br/><br/>
    			<strong>Estaciones</strong>
    		</div>
    		<div class="col-md-1">
    			<a href="horarios/list">		    	
		    		<img src="@{'/public/img/horarios.png'}" />	    	
		    	</a><br/>
    			<strong>Horarios</strong>
    		</div>
    	</div>
    	
        <div class="col-md-12">
        	<hr/>
            <h3>Servicios</h3>
            <hr/>
            <table class="table table-bordered table-striped table-hover">
            	<tr>
            		<th>Nombre</th>
            		<th>Url</th>
            	</tr>
            	<tr>
            		<td>Lista de Estaciones</td>
            		<td><a href="/listarEstaciones" target="_blank" class="btn btn-success btn-small">GET</a> /listarEstaciones</td>
            	</tr>
            </table>
        </div>            
    </section>
</div>   