@main("Sube al Metro Backend") {
<div class="container">
	<form class="form-signin">
		<h2 class="form-signin-heading">Sube al Metro</h2>
		<input type="text" class="form-control" placeholder="Usuario" autofocus>
		<input type="password" class="form-control" placeholder="Contraseña">
		<label class="checkbox">
		<input type="checkbox" value="remember-me"> Recuerdame
		</label>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
	</form>
</div> <!-- /container -->
}
