#{extends 'main.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}
<div class="container"> 
    <div class="row">
        <div class="span12">

            <ul class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li><a href="/horarios/list">Horarios</a></li>
                <li class="active">Nuevo Horario</li>
            </ul>

            <div id="crudBlank" class="${type.name}">

                <h2 id="crudBlankTitle">Horario</h2>

                <div class="objectForm">
                
                #{if flash.success}
			    <div class="alert alert-success">
			        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			        <strong>¡Exito!</strong>${flash.success}
			    </div>
			    #{/if}
			    #{if flash.error || error}
			    <div class="alert alert-danger">
			        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			        <strong>¡Error!</strong> ${error ?: flash.error}
			    </div>
			    #{/if}
                
                #{form action:@create(), enctype:'multipart/form-data'}
                    #{crud.form /}
                    <p class="crudButtons">
                        <input type="submit" class="btn btn-primary" name="_save" value="&{'crud.save', type.modelName}" />
                        <input type="submit" class="btn btn-primary" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
                        <input type="submit" class="btn btn-primary" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
                    </p>
                #{/form}
                </div>

            </div>
        </div>
    </div>
</div>